<dl class="tabs" data-tab>
  <dd class="active"><a href="#carrot" style="background: #43AC6A; color: white;" >Carrot</a></dd>
  <dd><a href="#stick" style="background: #f04124; color: white;" >Stick</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="carrot">
    <ul class="large-block-grid-6 medium-block-grid-4 small-block-grid-2">
    <% carrots.each do |carrot| %>
      <li><div class="success button radius" style="width: 100%"><%= carrot.camelize %></div></li>
    <% end %>
    </ul>
  </div>
  <div class="content" id="stick">
    <ul class="large-block-grid-6 medium-block-grid-4 small-block-grid-2">
    <% sticks.each do |stick| %>
      <li><div class="alert button radius" style="width: 100%"><%= stick.camelize %></div></li>
    <% end %>
    </ul>
  </div>
</div>
