<dl class="tabs" data-tab>
  <dd class="active"><a href="#carrot">Carrot</a></dd>
  <dd><a href="#stick">Stick</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="carrot">
    <% ["Respectful", "Responsible", "Safe", "Genius"].each do |carrot| %>
      <a href="#" class="button"><%= carrot %></a>
    <% end %>
  </div>
  <div class="content" id="stick">
    <% ["Talking", "Fighting", "Vandalism", "Smart Ass"].each do |stick| %>
      <a href="#" class="button"><%= stick %></a>
    <% end %>
  </div>
</div>
