<div class="row">
  <div class="large-5 medium-6 columns">
    <form id="groups-selector">
      <select>
        <option value="" disabled selected>Select a class</option>
        <% @groups.each do |group| %>
          <option value="<%= group.id %>"><%= group.name %></option>
        <% end %>
      </select>
    </form>
    <form id="students-selector">
      <select>
      </select>
    </form>
  </div>
  <div id="behaviors-list" class="large-7 medium-6 columns">
    <ul>
    </ul>
  </div>
</div>
<div class="row">
  <%= render "behaviors/behavior_tabs" %>
</div>
<div id="confirmation Modal" class="reveal-modal" data-reveal>
  <h2>Please Confirm</h2>
  <p class="lead student-name"></p>
  <p class="behavior-text"></p>
  <a class="close-reveal-modal">&#215;</a>
  <a class="button">Submit</a>
</div>
