<form>
  <select>
  <% @groups.each do |group| %>
    <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
</form>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Carrot</a></dd>
  <dd><a href="#panel2">Stick</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <p>This is the first panel</p>
  </div>
  <div class="content" id="panel2">
    <p>This is the second panel</p>
  </div>
</div>
