// Place all the styles related to the Behaviors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#behaviors-list h4 {
  color: white;
  opacity: .8;
  text-align: center;
}
.tabs {
  opacity: .8;
}
.right {
  float: right;
  margin: 4px;
}
