// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.splash-full {
  display: block;
  min-width: 80%;
  max-width: 120%;
  min-height: 80%;
  max-height: 120%;
  margin: 0 auto;
  padding: 0;
  border: none;
}